<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/title.ejs') %>
</head>

<body>
    <%- include('../partials/header.ejs') %>


    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase text-white mb-3">Car Booking</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a class="text-white" href="">Home</a></h6>
            <h6 class="text-body m-0 px-3">/</h6>
            <h6 class="text-uppercase text-body m-0">Car Booking</h6>
        </div>
    </div>
    <!-- Page Header Start -->


    <!-- Detail Start -->
    <div class="container-fluid pt-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase mb-5"><%= car.brand_name%> <%= car.model%></h1>
            <div class="row align-items-center pb-2">
                <div class="col-lg-6 mb-4">
                    <img class="img-fluid" src="/img/car_image/<%= car.more_photo_path%>" alt="">
                </div>
                <div class="col-lg-6 mb-4">
                    <h4 class="mb-2"><%= car.price_per_day%> руб./день</h4>
                    <p><%= car.description%></p>

                </div>
                <div class="row pt-2">
                    <div class="col-md-4 col-6 mb-2">
                        <i class="fa fa-car text-primary mr-2"></i>
                        <span><%= car.body_type%> </span>
                    </div>
                    <div class="col-md-4 col-6 mb-2">
                        <i class="fa fa-cogs text-primary mr-2"></i>
                        <span><%= car.transmission%></span>
                    </div>
                    <div class="col-md-4 col-6 mb-2">
                        <i class="fa-solid fa-city text-primary mr-2"></i>
                        <span><%= car.city_fuel_consumption%> км/литр</span>
                    </div>
                    <div class="col-md-4 col-6 mb-2">
                        <i class="fa fa-road text-primary mr-2"></i>
                        <span><%= car.highway_fuel_consumption%> км/литр</span>
                    </div>
                    <div class="col-md-4 col-6 mb-2">
                        <i class="fa-solid fa-calendar-days text-primary mr-2"></i>
                        <span>Год: <%= car.year%></span>
                    </div>
                    <div class="col-md-4 col-6 mb-2">
                        <i class="fa-solid fa-gas-pump text-primary mr-2"></i>
                        <span><%= car.fuel%></span>
                    </div>
                    <div class="col-md-4 col-6 mb-2">
                        <i class="fa-solid fa-person text-primary mr-2"></i>
                        <span><%= car.number_of_seats%></span>
                    </div>
                    <div class="col-md-4 col-6 mb-2">
                        <i class="fas fa-tachometer-alt text-primary mr-2"></i>
                        <span>Пробег: <%=car.mileage%> км</span>
                    </div>
                    <div class="col-md-4 col-6 mb-2">
                        <i class="fas fa-cogs text-primary mr-2"></i>
                        <span>Объём двигателя: <%=car.engine_capacity%> л.</span>
                    </div>
                    <div class="col-md-4 col-6 mb-2">
                        <i class="fas fa-cogs text-primary mr-2"></i>
                        <span>Мощность: <%=car.engine_power%> л.с.</span>
                    </div>
                </div>
             </div>
        </div>
    </div>
    <!-- Detail End -->

    <!-- Car Booking Start -->
    <% if (isAuthenticated) { %>
    <div class="container-fluid pb-5">
        <div class="container">
            <form action="/create/rental" method="POST" onsubmit="makeRental(event)">
                <div class="row">
                    <div class="col-lg-7">
                        <h2 class="mb-4">Personal Detail</h2>
                        <div class="mb-5">
                            <div class="row">
                                <div class="col-12 form-group">
                                    <input type="text" name="fullname" class="form-control p-4" value="<%= user.fullname%>" placeholder="First Name" readonly required="required">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 form-group">
                                    <input type="email" name="email" class="form-control p-4" value="<%=user.email%>" placeholder="Your Email" readonly required="required">
                                </div>
                                <div class="col-6 form-group">
                                    <% if(user.phone){%>
                                    <input type="text" name="phone" class="form-control p-4" value="<%=user.phone%>" readonly placeholder="Mobile Number" required="required">
                                        <%}else {%>
                                        <input type="text" name="phone" class="form-control p-4" placeholder="Mobile Number" required="required">
                                    <%}%>
                                </div>
                            </div>
                        </div>
                        <h2 class="mb-4">Booking Detail</h2>
                        <div class="mb-5">
                            <div class="row">
                                <div class="col-6 form-group">
                                    <div class="date" id="date2" data-target-input="nearest">
                                        <label for="day_start" class="form-label">День аренды</label>
                                        <input type="date" oninput="changeInputDate()" name="day_start" class="form-control p-4 datetimepicker-input" id="davaToday" placeholder="Pickup Date"
                                               data-target="#date2" data-toggle="datetimepicker" />
                                    </div>
                                </div>
                                <div class="col-6 form-group">
                                    <div class="time" id="time2" data-target-input="nearest">
                                        <label for="time_start" class="form-label">Время аренды</label>
                                        <input type="time" oninput="changeInputDate()" step="3600" name="time_start" class="form-control p-4 datetimepicker-input" id="myTime" placeholder="Pickup Time"
                                               data-target="#time2" data-toggle="datetimepicker" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 form-group">
                                    <label for="count_day-name" class="form-label">Количество дней аренды</label>
                                    <input type="number" oninput="changeInputDate()" name="count_day" id="count_day" min="1" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control py-3 px-4" id="request" name="request" rows="3" placeholder="Special Request"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="bg-secondary p-5 mb-5">
                            <input type="hidden" name="pickupDate" id="pickupDateValue">
                            <input type="hidden" name="users_id" value="<%= user.id%>">
                            <input type="hidden" name="cars_id" value="<%= car.id%>">
                            <input type="hidden" name="totalPrice" id="totalPriceValue" >
                            <h2 class="text-primary mb-4">Итого: <small id="totalPrice">0 руб.</small></h2>
                            <input type="hidden" name="returnDate" id="returnDateValue">
                            <h2 class="text-primary mb-4">Дата возврата: <br><small id="returnDate"></small></h2>
                            <button type="submit" class="btn btn-block btn-primary py-3">Забронировать сейчас</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
        <% }%>
    <!-- Car Booking End -->

    <% if(isAuthenticated){ %>
        <div class="container">
            <h2>Leave a review</h2>
            <form action="/addReviews" method="post" onsubmit="addReviews(event)">
                <input type="hidden" name="user_id" value="<%= user.id%>">
                <input type="hidden" name="cars_id" value="<%= car.id%>">
                <div class="mb-3">
                    <label for="review-name" class="form-label">Полное имя</label>
                    <input type="text" class="form-control" id="review-name" value="<%= user.fullname%>" readonly name="review-name" required>
                </div>
                <div class="mb-3">
                    <label for="review-email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="review-email" readonly value="<%= user.email%>" name="review-email" required>
                </div>
                <div class="mb-3">
                    <label for="rating" class="form-label">Рейтинг</label>
                    <select class="form-control" name="rating" id="rating">
                        <option value="" selected disabled>Выберите рейтинг</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Ваш отзыв</label>
                    <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Оценить</button>
            </form>
        </div>
    <%}%>
        <% if(reviews.length !== 0){ %>
            <div class="container-fluid pt-5">
                <div class="container pt-5 pb-3">
                    <div id="carouselExampleControls" class="carousel" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <% reviews.forEach((rew, index)=>{%>
                                <div class="carousel-item <%= index===0 ? 'active':''%>">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title"><%= rew.fullname%></h5>
                                            <p class="card-text">Рейтинг: <%= rew.rating%></p>
                                            <p class="card-text"><%= rew.comment%></p>
                                        </div>
                                    </div>
                                </div>
                            <% });%>
                        </div>
                        <button class="carousel-control-prev bg-secondary" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden" ><i class="fa-solid fa-arrow-left-to-line"></i></span>
                        </button>
                        <button class="carousel-control-next bg-secondary" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden"><i class="fa-solid fa-arrow-right-to-line"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        <%}%>


    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/message.ejs') %>
    <%- include('../partials/authorization.ejs') %>


    <script src="/js/mycarousel.js"></script>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!--    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>-->
<!--    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>-->

    <!-- Template Javascript -->
    <script src="/js/script.js"></script>
    <script>
        function changeInputDate(){
            const day = document.getElementById('davaToday').value;
            const time = document.getElementById('myTime').value;
            const countDay = document.getElementById('count_day').value;
            let price = parseFloat('<%= car.price_per_day%>');
            document.getElementById('totalPrice').textContent =`${(price*countDay).toFixed(2)} руб.`;

            // Создаем новый объект даты на основе введенных данных
            const currentDate = new Date(`${day}T${time}:00`);
            const newDate = new Date(currentDate.getTime() + countDay * 24 * 60 * 60 * 1000); // прибавляем 3 дня к текущей дате
            console.log(newDate);
            document.getElementById('returnDate').textContent =`${newDate.toLocaleString()}`;
            document.getElementById('returnDateValue').value=newDate;
            document.getElementById('totalPriceValue').value=(price*countDay).toFixed(2);
            document.getElementById('pickupDateValue').value=currentDate;
        }

        const date = document.getElementById('davaToday');
        date.valueAsDate = new Date();
        const today = new Date();
        const minDate = today.toISOString().split('T')[0];
        const maxDate = new Date();
        maxDate.setMonth(maxDate.getMonth() + 2);
        const maxDateString = maxDate.toISOString().split('T')[0];
        date.min = minDate;
        date.max = maxDateString;
        const myTimeInput = document.getElementById("myTime");
        const now = new Date();
        const hours = (now.getHours()+1).toString().padStart(2, '0');
        myTimeInput.defaultValue = `${hours}:${'00'}`;
        const currentHour = now.getHours();
        myTimeInput.min = `${currentHour}:00`;

        const endOfDay = new Date();
        endOfDay.setHours(23, 59, 0, 0);
        const endOfDayHour = endOfDay.getHours();
        myTimeInput.max = `${endOfDayHour}:00`;
    </script>

</body>

</html>