<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/title.ejs') %>
</head>

<body>
    <%- include('../partials/header.ejs') %>


    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase text-white mb-3">Наши машины</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a class="text-white" href="/">Главная</a></h6>
            <h6 class="text-body m-0 px-3">/</h6>
            <h6 class="text-uppercase text-body m-0">Наши машины</h6>
        </div>
    </div>
    <!-- Page Header Start -->


    <!-- Rent A Car Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Найди свою машину</h1>
            <div class="row">
                <% results.forEach((res)=>{%>
                    <div class="col-lg-4 col-md-6 mb-2">
                        <div class="rent-item mb-4">
                            <img class="img-fluid mb-4" src="/img/car_image/<%= res.picture_path %>" alt="">
                            <h4 class="text-uppercase mb-4" style="height: 70px"><%= res.brand_name%> <%= res.model%></h4>
                            <div class="d-flex justify-content-center mb-4" style="height: 70px">
                                <div class="px-2">
                                    <i class="fa fa-car text-primary mr-1"></i>
                                    <span><%= res.year%></span>
                                </div>
                                <div class="px-2 border-left border-right">
                                    <i class="fa fa-cogs text-primary mr-1"></i>
                                    <span><%= res.transmission%></span>
                                </div>
                                <div class="px-2">
                                    <i class="fa fa-road text-primary mr-1"></i>
                                    <span><%= res.mileage%> км</span>
                                </div>
                            </div>
                            <a class="btn btn-primary px-3" href="/booking/<%= res.id%>"><%= res.price_per_day.toFixed(2)%> руб. за день</a>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
    <!-- Rent A Car End -->


    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/message.ejs') %>
    <%- include('../partials/authorization.ejs') %>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!--<script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
-->
    <!-- Template Javascript -->
    <script src="/js/script.js"></script>
</body>

</html>