<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/title.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>

    <!-- Carousel Start -->
    <div class="container-fluid p-0" style="margin-bottom: 90px;">
        <div id="header-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="/img/resources/carousel-1.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase mb-md-3">Арендуй машину</h4>
                            <h1 class="display-1 text-white mb-md-4">Качество и комфорт</h1>
                            <a href="/carlist" class="btn btn-primary py-md-3 px-md-5 mt-2">Забронировать сейчас</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="img/resources/carousel-2.jpg" alt="Image">
                    <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                        <div class="p-3" style="max-width: 900px;">
                            <h4 class="text-white text-uppercase mb-md-3">Арендуй машину</h4>
                            <h1 class="display-1 text-white mb-md-4">Качество и комфорт</h1>
                            <a href="/carlist" class="btn btn-primary py-md-3 px-md-5 mt-2">Забронировать сейчас</a>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-prev-icon mb-n2"></span>
                </div>
            </a>
            <a class="carousel-control-next" href="#header-carousel" data-slide="next">
                <div class="btn btn-dark" style="width: 45px; height: 45px;">
                    <span class="carousel-control-next-icon mb-n2"></span>
                </div>
            </a>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Добро пожаловать в <span class="text-primary">Car Voyager</span></h1>
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <img class="w-75 mb-4" src="/img/resources/about.png" alt="">
                    <p>Car Voyager - это удивительный сервис аренды автомобилей, который предлагает широкий выбор авто, гибкие тарифы и удобное онлайн-бронирование. Мы гарантируем безопасность, надежность и высокий уровень обслуживания. Car Voyager - ваш идеальный партнер в комфортных и незабываемых путешествиях.</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-headset text-secondary"></i>
                        </div>
                        <h4 class="text-uppercase m-0">24/7 поддержка аренды</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-secondary p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-car text-secondary"></i>
                        </div>
                        <h4 class="text-light text-uppercase m-0">Забронируй автомобиль в любое время</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                        </div>
                        <h4 class="text-uppercase m-0">Забери в назначенное время</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Rent A Car Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Найди свою машину</h1>
            <div class="row">
                <% results.forEach((res)=>{%>
                    <div class="col-lg-4 col-md-6 mb-2">
                        <div class="rent-item mb-4" >
                            <img class="img-fluid mb-4" src="/img/car_image/<%= res.picture_path %>" alt="">
                            <h4 class="text-uppercase mb-4" style="height: 70px"><%= res.brand_name%> <%= res.model%></h4>
                            <div class="d-flex justify-content-center mb-4" style="height: 70px">
                                <div class="px-2">
                                    <i class="fa fa-car text-primary mr-1"></i>
                                    <span><%= res.year%></span>
                                </div>
                                <div class="px-2 border-left border-right">
                                    <i class="fa fa-cogs text-primary mr-1"></i>
                                    <span><%= res.transmission%></span>
                                </div>
                                <div class="px-2">
                                    <i class="fa fa-road text-primary mr-1"></i>
                                    <span><%= res.mileage%> км</span>
                                </div>
                            </div>
                            <a class="btn btn-primary px-3" href="/booking/<%= res.id%>"><%= res.price_per_day.toFixed(2)%> руб. за день</a>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
    <!-- Rent A Car End -->

    <%- include('../partials/footer.ejs') %>
    <%- include('../partials/message.ejs') %>
    <%- include('../partials/authorization.ejs') %>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!--    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>-->

    <!-- Template Javascript -->
    <script src="/js/script.js"></script>
</body>

</html>